.vercel
.env

node_modules/
.env
.env.*
.vscode/
.DS_Store
coverage/
.cache/
# build artefacts
dist/
public/mock/
*.map

# outputs / docs
*.pdf

# local env / tools
.tmp/
.venv/
.DS_Store

# Local Netlify folder
.netlify

# Binaries
scripts/bin/

# Python venv
.venv/
